.table {
    text-align: center;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid rgb(255, 217, 19);
  
    height: 50vh;
    width: 92vw;
    margin: 1rem auto;
  
    background: #aeccc6;
    color: black;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
      rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
      rgb(255, 85, 85) 0px 0px 0px 15px;
  }
  
  .table:hover {
    cursor: pointer;
  }
  
  .table th {
    border: 1px solid rgb(255, 217, 19);
    background: #bbe9db;
    padding: 8px;
  }
  
  .table td {
    border: 1px solid rgb(255, 85, 85);
    padding: 8px;
    color: #bbe9db;
  }
  
  .table tr:nth-child(even) {
    background-color: #9ba6a5;
  }
  
  .table tr:hover {
    background-color: #757a79;
  }